<h1>Welcome to The Wonderful World of Scrabble</h1>
<form action="/scrabble">
  <div class="form-group">
    <label for="scrabble">Enter a word to receive your scrabble score.
    </label>
    <input id="scrabble_box" name="scrabble_box" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
