<!DOCTYPE html>
<html>
<head>
  <title>Scrabble</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container color_background">
    <%= yield %>
  </div>
</body>
</html>
